.carousel {
    
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.carousel-open{
    display: none;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100; 
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}
.carousel-item img{
    width: 100%;
}

.icons
{
    position:fixed;
    top: 175px;
    width: 100%;
    display:  flex;
    flex-direction: column;
    float: right;
    transition: 0.3s;
}
 .icons a{
    
    background-color: black;
    text-decoration: none;
    padding: 10px  10px 10px 10px;
    width: 270px;
    letter-spacing: 1.5px;
    margin: 1px;
    margin-left: 1310px;
     height: 20px;
     color: white;
     
}
.icons img{
    width: 26px;
    height: 26px;
    padding-left: 2px;
    padding-right: 10px;

}

.icons a:hover{
    margin-left: 1150px;

}
.icons .hide{
    display: none;
}
.search-bar{
    width: 100%;
    background-color: rgb(48, 45, 45);
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search-bar input{
    width: 85%;
    height: 45%;
    background-color: rgb(235, 229, 229);
    border: none;
    font-size: 19px;
    color: white;
    padding-left: 14px;
}
.s-text{
    display: none;
}
@media screen and (max-width: 600px){
    .icons{
        position: fixed;
        display: none;
        flex-direction: row;
        width: 100% ;
        padding-top: 2px;
        top: 90%;
        height: 60px;
        background-color: black;
        
    }
    .icons a{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 25%;
          text-align: center;
         height: 35px;
        background-color: rgb(68, 65, 65);
        margin-left: 0.01em;
        margin-right: 3px;
        margin-top: 5px;
        font-size: 12px;
    }
    .icons a img{
        
        padding-left: 67px;
        padding-bottom: 5px;
    }
    .icons .show{
        display: none;
    }
    .icons .hide{
        display: block;
    }
    input{
        width: 98%;
    }
}