.container-2{
    padding: 60px;
    background-color: black;
    color: white;
}
.inner{
    text-align: center;
    padding-top: 40px;
    
}
.inner h1{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 40px;
    
}
.inner p{
    margin-top: 20px;
    line-height: 25px;
    font-size: 14px;
}
.btn {
    margin-top: 20px;
    text-decoration: none;
    
}
.btn button{
        
        border: none;
        background-color: rgb(17, 140, 189);
        width: 250px;
        height: 35px;
        color: white ;
        font-size: 15px;
        cursor: pointer;
        
}
.btn button:hover{
    background-color: rgb(22, 119, 209);
}
.links {
    
    margin-top: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
     width: 100%;
}
.links img{
    width: 274px;
    height: 154px;
}
.links .l{
    margin-right: 5px;
}
.links span:hover{
    border-bottom:8px solid  rgb(17, 140, 189);
}

.container-3{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.container-3 button{
    margin: 15px;
    background-color: black;
    color: white;
    border: none;
    font-size: 15px;
    
}
.container-3 a{
    margin-left: 10px;
}
.container-3 img{
    width: 23px;
    height: 17px;
}
.container-3 button:hover{
    color: rgb(17, 140, 189);
    border-bottom: 2px solid rgb(17, 140, 189);
    padding-bottom: 8px;
}
@media screen and (max-width: 600px){
    .links {
    
        margin-top: 40px;
        background-color: black;
        display: flex ;
        flex-direction: column ;
        padding-left: 20px;
         
         
    }
    .links .l{
        margin-right: 15px;
    }
    .links img{
        width: 110px;
        height: 94px;
    }
    
    .btn button{
        width: 250px ;
    }
}